/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Universal reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #a1c3ff;
    color: #333;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
nav.nav-bar{
    background-color: #3474ef;
    color: #fff;
}
.container .logo{
    font-size: 18px;
    font-weight: 700;
}

ul{
    list-style-type: none;
}

.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.nav-bar ul{
    display: flex;
    
}

.nav-bar ul li{
    margin-left: 20px;
}

.nav-bar a:hover{
    color: #031e51;
}

header{
    background-color: #0a51cc;
    color: #fff;
}

header h1{
    font-size: 48px;
    font-weight: 700;
}
/* header img{
    max-width: 400px;
} */

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1,p{
    line-height: 1.5;
}
header img{
    max-width: 100%;
    padding: 10px 0;
    height: 450px;
}
.boxes .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    flex: 1;
    color: #fff;
    background-color: #0a51cc;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
}

@media (max-width:656px){
    header .container{
        flex-direction: column;
        text-align: center;
        
    }
    header .container p{
        line-height: 2;
        font-size: 20px;
    }

    .boxes .container{
        display: block;
    }
    .box p{
        line-height: 2;
    }
}
